@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');


/* common styles */
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
/* nav bar style */
nav{
    background-color: #9376e0;
}
.nav-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.nav-items{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items a{
    text-decoration: none;
    color: white;
}
.login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    border-radius: 8px;
}
.login-icon{
    margin-left: 5px;
    color: #9376e0;
}
.logo-container{
    display: flex;
    width: 50%;
    align-items: center;
    object-fit: cover;
}
.nav-logo{
    width: 60px;
}
.nav-title{
    color: white;
}
.hive-section{
    color: #e893cf;
}
/* banner section style */
.banner-container{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    background-color: rgba(112, 128, 144, 0.178);
    padding: 10px;
    border-radius: 10px;
}
.banner-info{
    width: 50%;
    text-align: center;
}
.banner-title{
    background-image: linear-gradient(to bottom, #9376e0,
        #e893cf);
        color: transparent;
        -webkit-background-clip: text;
        font-size: 50px;
        margin-top: 20px;
}
.mens-collection{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
}
.social-icons{
    font-size: 30px;
}
.social-icons a{
    margin: 0 5px 0;
}
.fa-youtube{
    color: red;
}
.fa-instagram{
    color:#C13584;
}
.fa-facebook{
    color: blue;
}
.fa-twitter{
    color: #1DA1F2;
}
.banner-btn{
    padding: 10px 30px;
    margin: 20px 10px 0;
    background: transparent;
    border: 1px solid #9376e0;
    border-radius: 5px;
}
.banner-image-container{
    width: 50%;
}
.banner-img{
    width: 100%;
    border-radius: 10px;
}
/* card section style */
.card-container-title{
    text-align: center;
    margin-bottom: 30px;
}
.card-container{
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    width: 300px;
    background-color: rgba(112, 128, 144, 0.178);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}
.card-img{
    width: 70%;
    display: block;
    margin: 0 auto;

}
.card-title{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.card-title p a{
    font-size: 20px;
    margin-right: 5px;
    color: white;
    background-color: gray;
    padding: 8px;
    border-radius: 50%;
}
.card h3{
    color: rgb(56, 56, 56);
    margin-top: 20px;
}








/* responsive styles */
/* mobile device */
@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        width: 100%;
    }
    .nav-items{
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .login-btn{
        width: 100%;
        text-align: center;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-info{
        width: 100%;
    }
    .banner-image-container{
        width: 100%;
        margin-top: 20px;
    }
    .card-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}